<launch>

	<arg name="map_world" default="$(find ball_control)/extras/empty.world"/>

  <node pkg="ball_control" type="scripted_vel.py" name="script_commander" output="screen"/>

  <!-- Start Stage simulator. -->
  <node pkg="stage_ros" type="stageros" name="simulator" args="$(arg map_world)"/>

</launch>
